{% extends "base.html" %}
{% block title %}Нора кролика набагато глибша ніж ти уявляєш{% endblock %}
{% block content %}
    <h1>Скинути пароль</h1>
    {% if validlink %}
        <p>Будь ласка, введіть новий пароль двічі</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Змінити мій пароль"/></p>
        </form>
    {% else %}
        <p>Посилання на зміну пароль некоректне, можливо воно вже було використане. Будь ласка, повторіть запит.</p>
    {% endif %}
{% endblock %}